# Prerequisites
*.d

*build-*-debug/
*build-*-release/
*build-*/
CMakeLists.txt.user*

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Debug
dbg.png

# QtCreator
Engine/CMakeLists.txt.user
Tests/tests/CMakeLists.txt.user

# MacOS
.DS_Store
